body{
    background-color:#3b2000;
    color: aliceblue;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.navbar{
    overflow: hidden;
    background-color: #301b00;
    position: fixed ;
    width: 100%;
    top: 0%;
    box-shadow: 0px 0px 30px rgb(0, 0, 0,0.5);
}

.navbar a{
    float: right;
    padding: 20px 30px;
    text-decoration: none;
    color: rgb(240, 248, 255, 0.4);
    font-family: 'Sanchez', serif;
    font-size: 15px;

}

.active{
    background:#512f05;
}

.navbar a:hover{
    background-color: #1d1100;
    color: rgb(240, 248, 255, 0.7);
}